<div class="header" >
    <div class="header__title title">Создаем бэйджик</div>
    <div class="header__text text">Указывайте настоящие данные. И не теряйте свои держатели.
        В случае нарушения требований <span class="red"> будет выписан штраф!</span></div>
</div>
<div class="main" >
    <div class="builder">
        <div class="builder__field">
            <input type="text" class="field name" placeholder="Солнце">
        </div>
        <div class="builder__field">
            <div class="builder__field-name field post">
                <div class="post-name"> Выберите из списка </div>
                <span class="arrow"></span>
                <ul class="list">
                    <li class="list__item" data-value="0" data-logo="default">Менеджер</li>
                    <li class="list__item" data-value="1" data-logo="default">Кассир</li>
                    <li class="list__item" data-value="2" data-logo="default">Мерчендайзер</li>
                    <li class="list__item" data-value="3" >Эксперт</li>
                </ul>
            </div>
        </div>
        <div class="builder__field">
            <div class="builder__field-name field brand">
                <div class="brand-name"> Выберите из списка </div>
                <span class="arrow"></span>
                <ul class="list">
                    <li class="list__item" data-logo="dyson">Dyson</li>
                    <li class="list__item" data-logo="huawei">Huawei</li>
                    <li class="list__item" data-logo="lg">LG</li>
                    <li class="list__item" data-logo="oppo">Oppo</li>
                    <li class="list__item" data-logo="philips">Philips</li>
                    <li class="list__item" data-logo="samsung">Samsung</li>
                    <li class="list__item" data-logo="sony">Sony</li>                                
                </ul>
            </div>
        </div>
        <div class="builder__msg">
            <span class="title">Не забудьте перепроверить данные!</span>
            <p class="text">Если ваш ПК не подключен ни к одному
                из принтеров, то попробуйте скачать бэйджик,
                попросите и передайте кому-нибудьна печать.
                Обязательно <span class="green"> на цветном принтере! </span></p>
        </div>
    </div>
    <div class="preview">
        <div class="badge default">
            <div class="badge__image">
            </div>
            <div class="badge__pos">
                Должность
            </div>
            <div class="badge__name">Солнце</div>
        </div>
        <div class="preview__footer">
            <button class="print-btn btn">Напечатать</button>
        </div>
    </div>
</div> 