.print {
    display: none; 
    /* padding-top: 47px; */
    font-family: $font;
    flex-direction: column;
    height: 100%;
    &__body {
         display: flex;
        flex-direction: column;
        padding: 16mm 0 20mm 16mm;
        flex: 1;
    }
    &__header {
        
        .title {
            font-family: $font;
            font-size: 8.47mm;
            font-weight: 600;
        }
        .print-text {
            font-family: $font;
            font-size: 4.23mm;
            margin-top: 9mm;
            max-width: 112.08mm;
        }
    }
    &__main {
        margin-top: 18mm;
        display: flex;
        flex: 1;
        align-items: center;
        .badges {
            position: relative;
        }

        .message-block {
            position: absolute;
            display: block;
            width: 100%;
            left: calc(100% + 22mm);
            bottom: 32mm;
            .title {
                font-weight: 600;
                font-size: 7.41mm;
            }
            .print-text {
                font-size: 4.23mm;
                margin-top: 6mm;
                text-align: center;
            }
        }

        .badge {
            &:nth-child(2) {
                margin-top: 20px;
            }
            padding-left: 7mm;
            padding-top: 7mm;
            width: 75mm;
            height: 40mm;

            &__image {
                top: 7mm;
                left: 7mm;
            }
            &.default {
                .badge__image {
                    /* width: 33.16px;
                    height: 19.06px; */
                }
            }
            &__pos {
                font-family: 'Muller';
                margin-top: 13.76mm;
                font-size: 10pt;
            }
            &__name {
                margin-top: 3mm;
                font-family: 'TTCommons';
                font-size: 35pt;
                line-height: 7.35mm;
                font-weight: bold;
            }
            &__bottom {
                height: 2mm;
            }
            &__scissors {
                position: absolute;
                background-image: svg-load('../../img/line.svg');
                width: 106mm;
                height: 1px;
                left: 0;
                bottom: -2px;
                &::after {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    background-image: svg-load('../../img/scissors.svg');
                    background-size: cover;
                    right: 0;
                    bottom: calc(100% + 3px);
                    width: 11.289mm;
                    height: 8.114mm;
                }
            }
        }
    }
    &__footer {
        background: #f2f2f2;
        padding: 5mm 0 20mm 16mm;
        
        .print-title {
            font-size: 13.5pt;
            font-weight: 600;
             &:nth-child(3){
                margin-top: 13mm;
            }
        }
        .print-text {
            margin-top: 6.5mm;
            font-size: 9.75pt;
            max-width: 141.662mm;
        }
        & > span {
            display: block;
            margin-top: 12mm;
            font-size: 6.75pt;
            color: #7a7a7a;
        }
    }
}
